@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4 text-success">Welcome to Retailer Shop</h1>
        <h4 class="mb-5">Best Online Shop in Bangladesh</h4>


        <h3>Top Shirts</h3>
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-info" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Shirt</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-info" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Shirt</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-info" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Shirt</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

        </div>



        <h3>Top Pants</h3>
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-warning" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Pant</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-warning" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Pant</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-top img-fluid bg-warning" style="width: 350px; height: 250px; margin: auto">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">Pant</h5>
                        <p class="card-text text-truncate">lorem Ispsum dolor sit</p>
                    </div>
                </div>
            </div>

        </div>
    </div>